.hire-team-section{
    .team-member-img{
        height: 320px;
        background: var(--text-color);
    }
    .social-icon{
        height: 30px;
        width: 30px;
        filter: var(--arrow-bg);
    }
    .portfolio-img{
        height: 450px;
    }
    .technology-img{
        height: 100px;
    }
}