.footer {
    .footer-logo {
        width: 280px;

        @include media-breakpoint-down(lg) {
            width: 150px;
        }
    }

    .social-icon {
        width: 50px;
        height: 50px;

        img {
            width: 22px;
            height: 22px !important;
            filter: invert(1) brightness(2);
            
        }
        @include media-breakpoint-down(lg) {
            width: 40px;
            height: 40px;
            img {
                width: 18px;
                height: 18px !important;
                
            }
        }
    }

    .contact-details {
        .detail-icon {
            width: 30px;
            height: 30px;
        }

        .location-logo {
            width: 50px;
        }
        @include media-breakpoint-down(lg) {
            .detail-icon {
                width: 25px;
                height: 25px;
            }
            .location-logo {
                width: 40px;
            }
        }
        
    }
}

// ----- light mode -----
.light-mode {
    footer {
        .footer-logo {
            &.white-footer-logo {
                display: none !important;
            }

            &.black-footer-logo {
                display: block !important;
            }
        }

        .social-icon {
            img {
                filter: brightness(0) !important;
            }
        }

        .detail-icon {
            img {
                filter: brightness(0) !important;
            }
        }
    }
}