.header {
    z-index: 99;
    transition: all 0.5s ease-in-out;

    .header-logo {
        height: 60px;
        width: auto;
    }

    .header-container {
        .header-menu {
            .menu-link {
                padding: 20px 25px;
                position: relative;

                .sub-arrow {
                    height: 18px;
                    margin-left: 8px;
                }

                &:hover {
                    .sub-menu {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                .sub-menu {
                    visibility: hidden;
                    opacity: 0;
                    padding: 10px 20px;
                    width: fit-content;
                    top: 100%;
                    left: 0;

                    li {
                        padding: 10px 20px 10px 10px;
                    }
                }
            }
        }
    }

    &.header-fixed {
        transform: translateY(0px);

        &.hidden {
            transform: translateY(-100px);
            transition: all 0.5s ease-in-out;
        }
    }

    .mobile-header {
        display: none;
    }

    @include media-breakpoint-down(lg) {
        background-color: var(--background-color);

        .header-logo {
            height: 38px;
        }

        &.header-fixed {
            &.hidden {
                transform: translateY(-80px);
            }
        }

        .menu-icon {
            height: 30px;

            .close-bar {
                display: none;
            }

            &.close-header {
                .menu-bar {
                    display: none;
                }

                .close-bar {
                    display: block;
                }
            }
        }

        &.header-open {
            height: 100%;

            .mobile-header {
                display: block;
                margin: 25px 0;
                border-radius: 25px;
                overflow: auto;
                height: calc(100vh - 110px);

                .menu-link {
                    padding: 20px 15px;
                    
                    .sub-menu {
                        visibility: hidden;
                        height: 0;
                        opacity: 0;
                        padding: 10px;
                        overflow: hidden;

                        &.active-sub-menu {
                            visibility: visible;
                            height: auto;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}